[gui]
	recentrepo = C:/Users/Rory/dev/kliyo/src
	recentrepo = C:/Users/Rory/dev/dailyspin/src
	recentrepo = C:/Users/Rory/dev/assa/salespoint/CAM
[core]
	autocrlf = false
[user]
	name = rory woods
	email = rory.woods@gmail.com
[merge]
	tool = p4merge
[mergetool "kdiff3"]
	path = c:/Program Files (x86)/KDiff3/kdiff3.exe
[mergetool "p4merge"]
	cmd = "p4merge.exe $BASE $LOCAL $REMOTE $MERGED"
	trustExitCode = true
	keepBackup = false
[diff]
	guitool = p4merge
[difftool "kdiff3"]
	path = c:/Program Files (x86)/KDiff3/kdiff3.exe
	cmd = \"c:/Program Files (x86)/KDiff3/kdiff3.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool "p4merge"]
	cmd = "p4merge.exe $LOCAL $REMOTE"
[color]
	ui = auto
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
